*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:white

} 
    


 /*Barra de navegación,*/
.container-fluid{
    background-color:white;
}
.navbar{
    display: flex;
    width: 100%;;
    
}
.navbar ul{
    display: flex;
    list-style-type: none;

}

.navbar ul li {
    margin: 5px;
    margin-top: auto;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
}

/*Animación del navbar*/

.navbar ul li a:hover{
    font-size: 18px;
    transition: 0,4s;
    background-color: rgba(82, 238, 160, 0.72);
}
.nombre-empresa{
    display: flex;
    justify-content: center;
    color: rgb(101, 114, 52); 
    margin-top: 4%;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center; 
    font-size: calc(1.525rem + 3.3vw);
      
}
@media (min-width: 1200px){
.nombre-empresa {
      font-size: 4rem;
   } 
    }

.header{
    background-color:white;
    border: 1px solid white; 
    display: flex;
    justify-content:space-between;
   
}
.cuerpo{
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-around;
    height: 1200px;
    margin: 10px;
    margin-bottom: 0px;
}
/*Video promocional descuento, cuerpo de la página*/
.img.fluid{
    display: flex;
    width: 100%; 
    justify-content: center;}
    
.img.fluid{ 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 800px;
        width: 700px;
        border-radius: 10px;
        box-shadow: 0 o 20px;
        padding: 4%;
    
 }
 
.descripcion{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    background-color:white;
    text-align: center;
    height: 200px;
    align-items: center;
    width: 100%;
   }

/* Pagina2"Productos" Galería de fotos y precios*/

.titulo1{ 
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    display: flex;
    margin: 30px;
}
.subtitulo2{ color: #a7cbb6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin:0;
    display: flex;
}
/*Página 2 Galería de productos y precios*/


/* Productos y precios*/


@media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}
@media (max-width: 767px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, auto);  /* Una fila por cada elemento */
    }
}
.grid-container{
    display: grid;
    grid-template-columns: repeat (auto-fit, minmax(280px, 1f));
    grid-template-rows:repeat(3, 1fr);
    gap: 15px;
    border: 1px solid white 1px;
    margin: 80px;
}


.grid-prices{
    display: grid;
    justify-content: center;

}

.grid-img{
    display: grid;
    margin: 20px;
    height: 250px;
}

.grid-img{
    display: flex;
    border-radius: 6px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor:default;
    transition:translateY(-3%);
}
.grid-img:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}
.grid-item{
    display: grid;
    justify-content: space-around;
}

/*Página 3 "Quiénes somos"Información de la empresa*/

.grid-tit1{
      display: grid;
      justify-content: center;
      font-family: Georgia, 'Times New Roman', Times, serif;
      margin: 3%;
}
.grid-tit2{
    display: grid;
    justify-content: center;
    justify-content: center;
    margin: O;
}

.contenedor{
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0;
    gap: 20px;
    
}
    
.img1{
    height: 300px;
    margin: 10px;
    padding: 1%;


}
.parrafo1{
    display: flex;
    text-align: justify;
    flex-direction: column;
    flex-grow: 1;
    color: #000;
    padding: 10%;
}

/* Página 4 Puntos de ventas*/
.contac{
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0;
    gap: 20px;
    }
.maps{
    height: 400px;
    margin: 10px;
    padding: 0;

}
.direction{
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: flex-start;
    flex-direction: column;
    color: #000;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: space-around;
    gap: 20px;
    margin: 10px;;
}

/* Pagina 4- Datos de clientes y comentarios*/

.titulos2{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    gap: 40%;
    margin: 3%;

}
.pregunta{
    display:flex;
    margin: 4%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    gap: 15%;

}
    
.redes1{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    background-color:rgb(222, 207, 207,);
    text-align: center;
    height: 300px;
    align-items: center;
    width: 100%;
}

/* Formulario*/
.form{
    display: flex;
    flex-direction: column;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px; 
    height: 400px;
    background-color: white;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1)
    
}
.input, button{
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16 px;
}

.button{
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}



/*En todas las páginas*/ 
footer{
    background-color:rgb(222, 207, 207,);
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 200px;
    margin: 10px;
    margin-bottom: 0px;
   
    
}
/*redes*/

.redes{
    background-color: rgb(222, 207, 207,);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 0;
   
}
